:root {
  --small: 0.8rem;
}
.experience-wrapper {
  border-bottom: 1px solid #d8d8d8;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}
.experience-main {
  display: flex;
}
.experience-top-row {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.experience-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.img-container {
  width: 4rem;
  margin-right: 1rem;
  margin-top: 1rem;
  margin-left: 0;
}

.logo {
  width: 100%;
}

.experience-titles {
  display: flex;
  flex-direction: column;
}

.job-description {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  color: gray;
  font-size: var(--small);
}

.job-title {
  margin-bottom: 0;
  margin-top: 1rem;
}
.job-company {
  margin-top: 0.5rem;
}
.job-dates {
  margin-top: 1rem;
}
@media screen and (max-width: 992px) {
  .experience-titles {
    width: 100%;
  }
  .experience-content {
    flex-wrap: wrap;
  }
  .job-dates {
    margin-top: 0.5rem;
    font-size: var(--small);
  }
  .job-company {
    margin-bottom: 0;
  }
}
